<%- partial('_partial/head') %>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQGVG8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQGVG8');</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c760198f8c5cc0" async="async"></script>
<img src="http://cm.g.doubleclick.net/pixel?google_nid=gtech_dmp&google_cm&google_sc" />
<!-- End Google Tag Manager -->
  <div id="container">
    <%- partial('_partial/header') %>
    <div class="outer">
      <% if (theme.profile){ %>
        <%- partial('_partial/profile', null, {cache: !config.relative_link}) %>
      <% } %>
      <section id="main"><%- body %></section>
      <% if (theme.sidebar){ %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
